body{
    background-image: url("../images/background.jpg");
    font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 2px 5px 10px rgb(34, 34, 34);
}

#container{
    display: table;
    justify-content: center;
    margin: 5% auto;
    width: 400px;
    border: 2px solid black;
    box-shadow: 3px 5px 10px rgb(34, 34, 34);
    height: 450px;
    background-image: linear-gradient(#c5aaff, #fbbcea);
    border-radius: 15px;
}

form{
    background-image: linear-gradient(#7a4fd6, #9264f5);
    top: 0;
    bottom: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom: 3px solid black;
}
#typingArea{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    padding: 3%;
}

#taskPlace, #timePlace{
    height: 25px;
    outline: none;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 2%;
}

#taskPlace{
    grid-column: 1/4;
}
#timePlace{
    position: initial;
    grid-column: 1/2;
}
#addButton{
    grid-column: 3/4;
    background-color: rgb(26, 182, 26);
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

#tasks{
    margin: 3%;
    max-width: 91%;
}

.doneButton, .deleteButton{
    float: right;
    margin-left: 2%;

}

#taskForm{
    display: table;
    width: 100%;
    color: rgb(24, 24, 24);
    background-color: rgb(230, 105, 224);
    border-radius: 10px;
    padding: 2%;
    margin-top: 3%;
}

.doneButton{
    background-color: rgb(28, 180, 28);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    height: 24px;
    color: white;
}

.deleteButton{
    background-color: rgb(202, 20, 20);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
    height: 24px;
    color: white;
}

.deleteButton, .doneButton, #addButton, #timePlace, #taskPlace, #taskForm{
    box-shadow: 0.5px 0.5px 5px rgb(34, 34, 34);
}


.deleteButton:hover, .doneButton:hover, #addButton:hover{

    box-shadow: 1px 1px 5px rgb(34, 34, 34);
    transform: scale(1.05);
}

.task, .time{
    color: rgb(42, 42, 42);
}

.gradientImage{
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #fff);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.flyingClass{
    margin: 0;
    position:relative;
    animation: flying 3s infinite;
}

.flyingClass2{
    margin: 0;
    position:relative;
    animation: flying2 3s infinite;
    z-index: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flying {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 100px;
        left: 400px;
    }
    50%{
        transform: rotate(270deg);
        top: 0px;
        left: 0px;
    }
    75%{
        top: 100px;
        left: -400px;
    }
    100%{
        transform: rotate(-359deg);
        top: 0;
        left: 0px;
    }
    
}

@keyframes flying2 {
    0%{
        top: 0px;
        right: 0px;
    }
    25%{
        top: 200px;
        right: 400px;
    }
    50%{
        top: 0px;
        right: 0px;
        transform: rotate(270deg);
    }
    75%{
        top: 200px;
        right: -400px;
    }
    100%{
        transform: rotate(-359deg);
        top: 0px;
        right: 0px;
    }
}

#errorMessage{
    font-size: 13px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    display: none;
}